/* .main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .box {
    margin-left: 20px;
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    color: white;

    &:hover {
      background-color: #432456;
    }
  }
} */

/* admindashboard.css */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

  .box {
    flex: 1;
    min-width: 250px;
    background-color: #007bff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: white;
    transition: background 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }

    p {
      margin: 0;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
