.sidebar {
  width: 150px;
  height: 100%;
  left: 0;
  background-color: #344c64; /* Dark Blue for sidebar */
  color: white;
  border-right: 1px solid #2b3a4e;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 20px 10px;

  @media (max-width: 768px) {
    width: 60px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 15px;
      cursor: pointer;
      padding: 15px 10px;

      @media (max-width: 768px) {
        padding: 10px 5px;
      }

      &:hover {
        background-color: #3a4a63; /* Slight hover effect */
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        font-size: 16px;

        .icon {
          font-size: 20px;
        }

        span {
          margin-left: 15px;

          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }
  }
}

.dashboard-admin {
  display: flex;
  min-height: 100vh; /* Full height for better layout */
  margin-top: 60px; /* Adjust for header */
}
